@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #3A5B3F;
  --light-grey: #F4F5F7;
}

body {
  background-color: var(--light-grey);
  line-height: 130%;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

blockquote footer {
  margin-top: 1rem;
  color: #a1a1aa;
}